In [1]:
 #Dependencies
import pandas as pd

In [2]:
#path to CSV data
file = "../Data/2010-2015 datasets_Kaggle.csv"

# Read CSV data into pandas
df = pd.read_csv(file)
df.head()

,State,Uninsured Rate (2010),Uninsured Rate (2015),Uninsured Rate Change (2010-2015),Health Insurance Coverage Change (2010-2015),Employer Health Insurance Coverage (2015),Marketplace Health Insurance Coverage (2016),Marketplace Tax Credits (2016),Average Monthly Tax Credit (2016),State Medicaid Expansion (2016),Medicaid Enrollment (2013),Medicaid Enrollment (2016),Medicaid Enrollment Change (2013-2016),Medicare Enrollment (2016)
0,Alabama,14.60%,10.10%,-4.50%,215000,2545000,165534,152206,$310,False,799176.0,910775,111599.0,989855
1,Alaska,19.90%,14.90%,-5%,36000,390000,17995,16205,$750,True,122334.0,166625,44291.0,88966
2,Arizona,16.90%,10.80%,-6.10%,410000,3288000,179445,124346,$230,True,1201770.0,1716198,514428.0,1175624
3,Arkansas,17.50%,9.50%,-8%,234000,1365000,63357,56843,$306,True,556851.0,920194,363343.0,606146
4,California,18.50%,8.60%,-9.90%,3826000,19552000,1415428,1239893,$309,True,7755381.0,11843081,4087700.0,5829777

In [3]:
kgupdated_df = df[["State", "Uninsured Rate (2010)", "Uninsured Rate (2015)","Uninsured Rate Change (2010-2015)"]]
kgupdated_df["State"] = kgupdated_df["State"].str.strip()
kgupdated_df.head()

C:\Users\sanja\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,State,Uninsured Rate (2010),Uninsured Rate (2015),Uninsured Rate Change (2010-2015)
0,Alabama,14.60%,10.10%,-4.50%
1,Alaska,19.90%,14.90%,-5%
2,Arizona,16.90%,10.80%,-6.10%
3,Arkansas,17.50%,9.50%,-8%
4,California,18.50%,8.60%,-9.90%

In [4]:
# #path to CSV data
file1 = "../Data/2010_infant_mortality.csv"

# Read CSV data into pandas
df1 = pd.read_csv(file1)
df1.head()

        State  State,Code  Deaths  Births  Death  Rate
0     Alabama           1     524   60050   8.73   NaN
1      Alaska           2      41   11471   3.57   NaN
2     Arizona           4     520   87477   5.94   NaN
3    Arkansas           5     279   38540   7.24   NaN
4  California           6    2417  510198   4.74   NaN

In [5]:
newdf2010_df = df1[['State', 'Deaths', 'Births', 'Death']]
newdf2010_df["State"] = newdf2010_df["State"].str.strip()
newdf2010_df["State"] = newdf2010_df["State"].str.replace(",", " ")
newdf2010_df

C:\Users\sanja\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\sanja\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                   State  Deaths  Births  Death
0                Alabama     524   60050   8.73
1                 Alaska      41   11471   3.57
2                Arizona     520   87477   5.94
3               Arkansas     279   38540   7.24
4             California    2417  510198   4.74
5               Colorado     392   66355   5.91
6            Connecticut     200   37708   5.30
7               Delaware      85   11364   7.48
8   District of Columbia      70    9165   7.64
9                Florida    1397  214590   6.51
10               Georgia     849  133947   6.34
11                Hawaii     118   18988   6.21
12                 Idaho     111   23198   4.78
13              Illinois    1130  165200   6.84
14               Indiana     640   83940   7.62
15                  Iowa     188   38719   4.86
16                Kansas     252   40649   6.20
17              Kentucky     380   55784   6.81
18             Louisiana     471   62379   7.55
19                 Maine      70   12970   5.40
20              Maryland     504   73801   6.83
21         Massachusetts     320   72865   4.39
22              Michigan     816  114531   7.12
23             Minnesota     312   68610   4.55
24           Mississippi     385   40036   9.62
25              Missouri     505   76759   6.58
26               Montana      72   12060   5.97
27              Nebraska     136   25918   5.25
28                Nevada     198   35934   5.51
29         New Hampshire      50   12874   3.88
30            New Jersey     513  106922   4.80
31            New Mexico     156   27850   5.60
32              New York    1242  244375   5.08
33        North Carolina     867  122350   7.09
34          North Dakota      62    9104   6.81
35                  Ohio    1074  139128   7.72
36              Oklahoma     399   53238   7.49
37                Oregon     226   45540   4.96
38          Pennsylvania    1036  143321   7.23
39          Rhode Island      80   11177   7.16
40        South Carolina     428   58342   7.34
41          South Dakota      84   11811   7.11
42             Tennessee     626   79495   7.87
43                 Texas    2373  386118   6.15
44                  Utah     254   52258   4.86
45               Vermont      26    6223   4.18
46              Virginia     703  103002   6.83
47            Washington     388   86539   4.48
48         West Virginia     150   20470   7.33
49             Wisconsin     400   68487   5.84
50               Wyoming      52    7556   6.88

In [6]:
newdf2010updated_df = newdf2010_df.rename(columns={"Deaths":"Deaths (2010)", "Births":"Births (2010)", "Death": "Death Per 1000 (2010)"})

newdf2010updated_df.head()

        State  Deaths (2010)  Births (2010)  Death Per 1000 (2010)
0     Alabama            524          60050                   8.73
1      Alaska             41          11471                   3.57
2     Arizona            520          87477                   5.94
3    Arkansas            279          38540                   7.24
4  California           2417         510198                   4.74

In [7]:
#path to CSV data
file2 = "../Data/2015_infant_mortality.csv"

# Read CSV data into pandas
df2 = pd.read_csv(file2)
df2.head(30)

                   State  State,Code  Deaths  Births  Death  Rate
0                Alabama           1     496   59657   8.31   NaN
1                 Alaska           2      78   11282   6.91   NaN
2                Arizona           4     467   85351   5.47   NaN
3               Arkansas           5     293   38886   7.53   NaN
4             California           6    2178  491748   4.43   NaN
5               Colorado           8     310   66581   4.66   NaN
6            Connecticut           9     202   35746   5.65   NaN
7               Delaware          10     102   11166   9.13   NaN
8   District,of,Columbia          11      84    9578   8.77   NaN
9                Florida          12    1399  224269   6.24   NaN
10               Georgia          13    1024  131404   7.79   NaN
11                Hawaii          15     104   18420   5.65   NaN
12                 Idaho          16     107   22827   4.69   NaN
13              Illinois          17     948  158116   6.00   NaN
14               Indiana          18     614   84040   7.31   NaN
15                  Iowa          19     167   39482   4.23   NaN
16                Kansas          20     233   39154   5.95   NaN
17              Kentucky          21     375   55971   6.70   NaN
18             Louisiana          22     489   64692   7.56   NaN
19                 Maine          23      83   12607   6.58   NaN
20              Maryland          24     485   73616   6.59   NaN
21         Massachusetts          25     309   71492   4.32   NaN
22              Michigan          26     739  113312   6.52   NaN
23             Minnesota          27     361   69834   5.17   NaN
24           Mississippi          28     363   38394   9.45   NaN
25              Missouri          29     487   75061   6.49   NaN
26               Montana          30      73   12583   5.80   NaN
27              Nebraska          31     152   26679   5.70   NaN
28                Nevada          32     188   36298   5.18   NaN
29         New,Hampshire          33      51   12433   4.10   NaN

In [8]:
newdf2015_df = df2[['State', 'Deaths', 'Births', 'Death']]
newdf2015_df["State"] = newdf2015_df["State"].str.strip()
newdf2015_df["State"] = newdf2015_df["State"].str.replace(",", " ")
newdf2015_df

C:\Users\sanja\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\sanja\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                   State  Deaths  Births  Death
0                Alabama     496   59657   8.31
1                 Alaska      78   11282   6.91
2                Arizona     467   85351   5.47
3               Arkansas     293   38886   7.53
4             California    2178  491748   4.43
5               Colorado     310   66581   4.66
6            Connecticut     202   35746   5.65
7               Delaware     102   11166   9.13
8   District of Columbia      84    9578   8.77
9                Florida    1399  224269   6.24
10               Georgia    1024  131404   7.79
11                Hawaii     104   18420   5.65
12                 Idaho     107   22827   4.69
13              Illinois     948  158116   6.00
14               Indiana     614   84040   7.31
15                  Iowa     167   39482   4.23
16                Kansas     233   39154   5.95
17              Kentucky     375   55971   6.70
18             Louisiana     489   64692   7.56
19                 Maine      83   12607   6.58
20              Maryland     485   73616   6.59
21         Massachusetts     309   71492   4.32
22              Michigan     739  113312   6.52
23             Minnesota     361   69834   5.17
24           Mississippi     363   38394   9.45
25              Missouri     487   75061   6.49
26               Montana      73   12583   5.80
27              Nebraska     152   26679   5.70
28                Nevada     188   36298   5.18
29         New Hampshire      51   12433   4.10
30            New Jersey     483  103127   4.68
31            New Mexico     131   25816   5.07
32              New York    1098  237274   4.63
33        North Carolina     888  120843   7.35
34          North Dakota      81   11314   7.16
35                  Ohio    1000  139264   7.18
36              Oklahoma     389   53122   7.32
37                Oregon     235   45655   5.15
38          Pennsylvania     867  141047   6.15
39          Rhode Island      65   10993   5.91
40        South Carolina     402   58139   6.91
41          South Dakota      90   12336   7.30
42             Tennessee     568   81685   6.95
43                 Texas    2305  403618   5.71
44                  Utah     255   50778   5.02
45               Vermont      27    5903   4.57
46              Virginia     610  103303   5.90
47            Washington     434   88990   4.88
48         West Virginia     141   19805   7.12
49             Wisconsin     389   67041   5.80
50               Wyoming      38    7765   4.89

In [9]:
newdf2015updated_df = newdf2010_df.rename(columns={"Deaths":"Deaths (2015)", "Births":"Births (2015)", "Death": "Death Per 1000 (2015)"})
newdf2015updated_df.head()

        State  Deaths (2015)  Births (2015)  Death Per 1000 (2015)
0     Alabama            524          60050                   8.73
1      Alaska             41          11471                   3.57
2     Arizona            520          87477                   5.94
3    Arkansas            279          38540                   7.24
4  California           2417         510198                   4.74

In [10]:
#path to CSV data
file3 = "../Data/States LatandLong.csv"

# Read CSV data into pandas
df3 = pd.read_csv(file3)
df3.head()

  ABB   Latitude   Longitude       State
0  AK  63.588753 -154.493062      Alaska
1  AL  32.318231  -86.902298     Alabama
2  AR  35.201050  -91.831833    Arkansas
3  AZ  34.048928 -111.093731     Arizona
4  CA  36.778261 -119.417932  California

In [11]:
latlong_df = df3[["Latitude", "Longitude", "State"]]
latlong_df

     Latitude   Longitude                 State
0   63.588753 -154.493062                Alaska
1   32.318231  -86.902298               Alabama
2   35.201050  -91.831833              Arkansas
3   34.048928 -111.093731               Arizona
4   36.778261 -119.417932            California
5   39.550051 -105.782067              Colorado
6   41.603221  -73.087749           Connecticut
7   38.905985  -77.033418  District of Columbia
8   38.910832  -75.527670              Delaware
9   27.664827  -81.515754               Florida
10  32.157435  -82.907123               Georgia
11  19.898682 -155.665857                Hawaii
12  41.878003  -93.097702                  Iowa
13  44.068202 -114.742041                 Idaho
14  40.633125  -89.398528              Illinois
15  40.551217  -85.602364               Indiana
16  39.011902  -98.484246                Kansas
17  37.839333  -84.270018              Kentucky
18  31.244823  -92.145024             Louisiana
19  42.407211  -71.382437         Massachusetts
20  39.045755  -76.641271              Maryland
21  45.253783  -69.445469                 Maine
22  44.314844  -85.602364              Michigan
23  46.729553  -94.685900             Minnesota
24  37.964253  -91.831833              Missouri
25  32.354668  -89.398528           Mississippi
26  46.879682 -110.362566               Montana
27  35.759573  -79.019300        North Carolina
28  47.551493 -101.002012          North Dakota
29  41.492537  -99.901813              Nebraska
30  43.193852  -71.572395         New Hampshire
31  40.058324  -74.405661            New Jersey
32  34.972730 -105.032363            New Mexico
33  38.802610 -116.419389                Nevada
34  43.299428  -74.217933              New York
35  40.417287  -82.907123                  Ohio
36  35.007752  -97.092877              Oklahoma
37  43.804133 -120.554201                Oregon
38  41.203322  -77.194525          Pennsylvania
39  41.580095  -71.477429          Rhode Island
40  33.836081  -81.163725        South Carolina
41  43.969515  -99.901813          South Dakota
42  35.517491  -86.580447             Tennessee
43  31.968599  -99.901813                 Texas
44  39.320980 -111.093731                  Utah
45  37.431573  -78.656894              Virginia
46  44.558803  -72.577841               Vermont
47  47.751074 -120.740139            Washington
48  43.784440  -88.787868             Wisconsin
49  38.597626  -80.454903         West Virginia
50  43.075968 -107.290284               Wyoming

In [12]:
#merge 2010 and 2015 infant mortality data by on State column
merged_df = pd.merge(newdf2010updated_df, newdf2015updated_df, how="outer", on="State")
merged_df

,State,Deaths (2010),Births (2010),Death Per 1000 (2010),Deaths (2015),Births (2015),Death Per 1000 (2015)
0,Alabama,524,60050,8.73,524,60050,8.73
1,Alaska,41,11471,3.57,41,11471,3.57
2,Arizona,520,87477,5.94,520,87477,5.94
3,Arkansas,279,38540,7.24,279,38540,7.24
4,California,2417,510198,4.74,2417,510198,4.74
5,Colorado,392,66355,5.91,392,66355,5.91
6,Connecticut,200,37708,5.30,200,37708,5.30
7,Delaware,85,11364,7.48,85,11364,7.48
8,District of Columbia,70,9165,7.64,70,9165,7.64
9,Florida,1397,214590,6.51,1397,214590,6.51
10,Georgia,849,133947,6.34,849,133947,6.34
11,Hawaii,118,18988,6.21,118,18988,6.21
12,Idaho,111,23198,4.78,111,23198,4.78
13,Illinois,1130,165200,6.84,1130,165200,6.84
14,Indiana,640,83940,7.62,640,83940,7.62
15,Iowa,188,38719,4.86,188,38719,4.86
16,Kansas,252,40649,6.20,252,40649,6.20
17,Kentucky,380,55784,6.81,380,55784,6.81
18,Louisiana,471,62379,7.55,471,62379,7.55
19,Maine,70,12970,5.40,70,12970,5.40
20,Maryland,504,73801,6.83,504,73801,6.83
21,Massachusetts,320,72865,4.39,320,72865,4.39
22,Michigan,816,114531,7.12,816,114531,7.12
23,Minnesota,312,68610,4.55,312,68610,4.55
24,Mississippi,385,40036,9.62,385,40036,9.62
25,Missouri,505,76759,6.58,505,76759,6.58
26,Montana,72,12060,5.97,72,12060,5.97
27,Nebraska,136,25918,5.25,136,25918,5.25
28,Nevada,198,35934,5.51,198,35934,5.51
29,New Hampshire,50,12874,3.88,50,12874,3.88
30,New Jersey,513,106922,4.80,513,106922,4.80
31,New Mexico,156,27850,5.60,156,27850,5.60
32,New York,1242,244375,5.08,1242,244375,5.08
33,North Carolina,867,122350,7.09,867,122350,7.09
34,North Dakota,62,9104,6.81,62,9104,6.81
35,Ohio,1074,139128,7.72,1074,139128,7.72
36,Oklahoma,399,53238,7.49,399,53238,7.49
37,Oregon,226,45540,4.96,226,45540,4.96
38,Pennsylvania,1036,143321,7.23,1036,143321,7.23
39,Rhode Island,80,11177,7.16,80,11177,7.16
40,South Carolina,428,58342,7.34,428,58342,7.34
41,South Dakota,84,11811,7.11,84,11811,7.11
42,Tennessee,626,79495,7.87,626,79495,7.87
43,Texas,2373,386118,6.15,2373,386118,6.15
44,Utah,254,52258,4.86,254,52258,4.86
45,Vermont,26,6223,4.18,26,6223,4.18
46,Virginia,703,103002,6.83,703,103002,6.83
47,Washington,388,86539,4.48,388,86539,4.48
48,West Virginia,150,20470,7.33,150,20470,7.33
49,Wisconsin,400,68487,5.84,400,68487,5.84
50,Wyoming,52,7556,6.88,52,7556,6.88

In [13]:
#merge new combined infant mortality data and latlong data by on State column
pd.set_option('display.max_rows', None)
newmerged_df = pd.merge(merged_df, latlong_df, how="outer", on="State", indicator=True)
newmerged_df

,State,Deaths (2010),Births (2010),Death Per 1000 (2010),Deaths (2015),Births (2015),Death Per 1000 (2015),Latitude,Longitude,_merge
0,Alabama,524,60050,8.73,524,60050,8.73,32.318231,-86.902298,both
1,Alaska,41,11471,3.57,41,11471,3.57,63.588753,-154.493062,both
2,Arizona,520,87477,5.94,520,87477,5.94,34.048928,-111.093731,both
3,Arkansas,279,38540,7.24,279,38540,7.24,35.201050,-91.831833,both
4,California,2417,510198,4.74,2417,510198,4.74,36.778261,-119.417932,both
5,Colorado,392,66355,5.91,392,66355,5.91,39.550051,-105.782067,both
6,Connecticut,200,37708,5.30,200,37708,5.30,41.603221,-73.087749,both
7,Delaware,85,11364,7.48,85,11364,7.48,38.910832,-75.527670,both
8,District of Columbia,70,9165,7.64,70,9165,7.64,38.905985,-77.033418,both
9,Florida,1397,214590,6.51,1397,214590,6.51,27.664827,-81.515754,both
10,Georgia,849,133947,6.34,849,133947,6.34,32.157435,-82.907123,both
11,Hawaii,118,18988,6.21,118,18988,6.21,19.898682,-155.665857,both
12,Idaho,111,23198,4.78,111,23198,4.78,44.068202,-114.742041,both
13,Illinois,1130,165200,6.84,1130,165200,6.84,40.633125,-89.398528,both
14,Indiana,640,83940,7.62,640,83940,7.62,40.551217,-85.602364,both
15,Iowa,188,38719,4.86,188,38719,4.86,41.878003,-93.097702,both
16,Kansas,252,40649,6.20,252,40649,6.20,39.011902,-98.484246,both
17,Kentucky,380,55784,6.81,380,55784,6.81,37.839333,-84.270018,both
18,Louisiana,471,62379,7.55,471,62379,7.55,31.244823,-92.145024,both
19,Maine,70,12970,5.40,70,12970,5.40,45.253783,-69.445469,both
20,Maryland,504,73801,6.83,504,73801,6.83,39.045755,-76.641271,both
21,Massachusetts,320,72865,4.39,320,72865,4.39,42.407211,-71.382437,both
22,Michigan,816,114531,7.12,816,114531,7.12,44.314844,-85.602364,both
23,Minnesota,312,68610,4.55,312,68610,4.55,46.729553,-94.685900,both
24,Mississippi,385,40036,9.62,385,40036,9.62,32.354668,-89.398528,both
25,Missouri,505,76759,6.58,505,76759,6.58,37.964253,-91.831833,both
26,Montana,72,12060,5.97,72,12060,5.97,46.879682,-110.362566,both
27,Nebraska,136,25918,5.25,136,25918,5.25,41.492537,-99.901813,both
28,Nevada,198,35934,5.51,198,35934,5.51,38.802610,-116.419389,both
29,New Hampshire,50,12874,3.88,50,12874,3.88,43.193852,-71.572395,both
30,New Jersey,513,106922,4.80,513,106922,4.80,40.058324,-74.405661,both
31,New Mexico,156,27850,5.60,156,27850,5.60,34.972730,-105.032363,both
32,New York,1242,244375,5.08,1242,244375,5.08,43.299428,-74.217933,both
33,North Carolina,867,122350,7.09,867,122350,7.09,35.759573,-79.019300,both
34,North Dakota,62,9104,6.81,62,9104,6.81,47.551493,-101.002012,both
35,Ohio,1074,139128,7.72,1074,139128,7.72,40.417287,-82.907123,both
36,Oklahoma,399,53238,7.49,399,53238,7.49,35.007752,-97.092877,both
37,Oregon,226,45540,4.96,226,45540,4.96,43.804133,-120.554201,both
38,Pennsylvania,1036,143321,7.23,1036,143321,7.23,41.203322,-77.194525,both
39,Rhode Island,80,11177,7.16,80,11177,7.16,41.580095,-71.477429,both
40,South Carolina,428,58342,7.34,428,58342,7.34,33.836081,-81.163725,both
41,South Dakota,84,11811,7.11,84,11811,7.11,43.969515,-99.901813,both
42,Tennessee,626,79495,7.87,626,79495,7.87,35.517491,-86.580447,both
43,Texas,2373,386118,6.15,2373,386118,6.15,31.968599,-99.901813,both
44,Utah,254,52258,4.86,254,52258,4.86,39.320980,-111.093731,both
45,Vermont,26,6223,4.18,26,6223,4.18,44.558803,-72.577841,both
46,Virginia,703,103002,6.83,703,103002,6.83,37.431573,-78.656894,both
47,Washington,388,86539,4.48,388,86539,4.48,47.751074,-120.740139,both
48,West Virginia,150,20470,7.33,150,20470,7.33,38.597626,-80.454903,both
49,Wisconsin,400,68487,5.84,400,68487,5.84,43.784440,-88.787868,both
50,Wyoming,52,7556,6.88,52,7556,6.88,43.075968,-107.290284,both

In [23]:
#merge onto new merged df and unissued data from Kaggle
finalnewmerged_df = pd.merge(newmerged_df, kgupdated_df, how="outer", on="State")

#drop _merge coloumn
finalnewmerged1_df= finalnewmerged_df.drop(["_merge"], axis=1) 
finalnewmerged1_df

,State,Deaths (2010),Births (2010),Death Per 1000 (2010),Deaths (2015),Births (2015),Death Per 1000 (2015),Latitude,Longitude,Uninsured Rate (2010),Uninsured Rate (2015),Uninsured Rate Change (2010-2015)
0,Alabama,524,60050,8.73,524,60050,8.73,32.318231,-86.902298,14.60%,10.10%,-4.50%
1,Alaska,41,11471,3.57,41,11471,3.57,63.588753,-154.493062,19.90%,14.90%,-5%
2,Arizona,520,87477,5.94,520,87477,5.94,34.048928,-111.093731,16.90%,10.80%,-6.10%
3,Arkansas,279,38540,7.24,279,38540,7.24,35.201050,-91.831833,17.50%,9.50%,-8%
4,California,2417,510198,4.74,2417,510198,4.74,36.778261,-119.417932,18.50%,8.60%,-9.90%
5,Colorado,392,66355,5.91,392,66355,5.91,39.550051,-105.782067,15.90%,8.10%,-7.80%
6,Connecticut,200,37708,5.30,200,37708,5.30,41.603221,-73.087749,9.10%,6%,-3.10%
7,Delaware,85,11364,7.48,85,11364,7.48,38.910832,-75.527670,9.70%,5.90%,-3.80%
8,District of Columbia,70,9165,7.64,70,9165,7.64,38.905985,-77.033418,7.60%,3.80%,-3.80%
9,Florida,1397,214590,6.51,1397,214590,6.51,27.664827,-81.515754,21.30%,13.30%,-8%
10,Georgia,849,133947,6.34,849,133947,6.34,32.157435,-82.907123,19.70%,13.90%,-5.80%
11,Hawaii,118,18988,6.21,118,18988,6.21,19.898682,-155.665857,7.90%,4%,-3.90%
12,Idaho,111,23198,4.78,111,23198,4.78,44.068202,-114.742041,17.70%,11%,-6.70%
13,Illinois,1130,165200,6.84,1130,165200,6.84,40.633125,-89.398528,13.80%,7.10%,-6.70%
14,Indiana,640,83940,7.62,640,83940,7.62,40.551217,-85.602364,14.80%,9.60%,-5.20%
15,Iowa,188,38719,4.86,188,38719,4.86,41.878003,-93.097702,9.30%,5%,-4.30%
16,Kansas,252,40649,6.20,252,40649,6.20,39.011902,-98.484246,13.90%,9.10%,-4.80%
17,Kentucky,380,55784,6.81,380,55784,6.81,37.839333,-84.270018,15.30%,6%,-9.30%
18,Louisiana,471,62379,7.55,471,62379,7.55,31.244823,-92.145024,17.80%,11.90%,-5.90%
19,Maine,70,12970,5.40,70,12970,5.40,45.253783,-69.445469,10.10%,8.40%,-1.70%
20,Maryland,504,73801,6.83,504,73801,6.83,39.045755,-76.641271,11.30%,6.60%,-4.70%
21,Massachusetts,320,72865,4.39,320,72865,4.39,42.407211,-71.382437,4.40%,2.80%,-1.60%
22,Michigan,816,114531,7.12,816,114531,7.12,44.314844,-85.602364,12.40%,6.10%,-6.30%
23,Minnesota,312,68610,4.55,312,68610,4.55,46.729553,-94.685900,9.10%,4.50%,-4.60%
24,Mississippi,385,40036,9.62,385,40036,9.62,32.354668,-89.398528,18.20%,12.70%,-5.50%
25,Missouri,505,76759,6.58,505,76759,6.58,37.964253,-91.831833,13.20%,9.80%,-3.40%
26,Montana,72,12060,5.97,72,12060,5.97,46.879682,-110.362566,17.30%,11.60%,-5.70%
27,Nebraska,136,25918,5.25,136,25918,5.25,41.492537,-99.901813,11.50%,8.20%,-3.30%
28,Nevada,198,35934,5.51,198,35934,5.51,38.802610,-116.419389,22.60%,12.30%,-10.30%
29,New Hampshire,50,12874,3.88,50,12874,3.88,43.193852,-71.572395,11.10%,6.30%,-4.80%
30,New Jersey,513,106922,4.80,513,106922,4.80,40.058324,-74.405661,13.20%,8.70%,-4.50%
31,New Mexico,156,27850,5.60,156,27850,5.60,34.972730,-105.032363,19.60%,10.90%,-8.70%
32,New York,1242,244375,5.08,1242,244375,5.08,43.299428,-74.217933,11.90%,7.10%,-4.80%
33,North Carolina,867,122350,7.09,867,122350,7.09,35.759573,-79.019300,16.80%,11.20%,-5.60%
34,North Dakota,62,9104,6.81,62,9104,6.81,47.551493,-101.002012,9.80%,7.80%,-2%
35,Ohio,1074,139128,7.72,1074,139128,7.72,40.417287,-82.907123,12.30%,6.50%,-5.80%
36,Oklahoma,399,53238,7.49,399,53238,7.49,35.007752,-97.092877,18.90%,13.90%,-5%
37,Oregon,226,45540,4.96,226,45540,4.96,43.804133,-120.554201,17.10%,7%,-10.10%
38,Pennsylvania,1036,143321,7.23,1036,143321,7.23,41.203322,-77.194525,10.20%,6.40%,-3.80%
39,Rhode Island,80,11177,7.16,80,11177,7.16,41.580095,-71.477429,12.20%,5.70%,-6.50%
40,South Carolina,428,58342,7.34,428,58342,7.34,33.836081,-81.163725,17.50%,10.90%,-6.60%
41,South Dakota,84,11811,7.11,84,11811,7.11,43.969515,-99.901813,12.40%,10.20%,-2.20%
42,Tennessee,626,79495,7.87,626,79495,7.87,35.517491,-86.580447,14.40%,10.30%,-4.10%
43,Texas,2373,386118,6.15,2373,386118,6.15,31.968599,-99.901813,23.70%,17.10%,-6.60%
44,Utah,254,52258,4.86,254,52258,4.86,39.320980,-111.093731,15.30%,10.50%,-4.80%
45,Vermont,26,6223,4.18,26,6223,4.18,44.558803,-72.577841,8%,3.80%,-4.20%
46,Virginia,703,103002,6.83,703,103002,6.83,37.431573,-78.656894,13.10%,9.10%,-4%
47,Washington,388,86539,4.48,388,86539,4.48,47.751074,-120.740139,14.20%,6.60%,-7.60%
48,West Virginia,150,20470,7.33,150,20470,7.33,38.597626,-80.454903,14.60%,6%,-8.60%
49,Wisconsin,400,68487,5.84,400,68487,5.84,43.784440,-88.787868,9.40%,5.70%,-3.70%
50,Wyoming,52,7556,6.88,52,7556,6.88,43.075968,-107.290284,14.90%,11.50%,-3.40%

In [16]:
#Saved Final Cleaned Data
finalnewmerged1_df.to_csv(r'../Data/FinalCleanedData.csv', index = False)